@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: #222222;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #585858;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
